<div class="update-product-container">
	<h1 class="text-center text-light">Post a New Job</h1>
	<form action="/add_job" method="post">
		<input type="hidden" class="form-control" id="id" name="id">
	
		<div class="form-floating mt-3">
			<input type="text" class="form-control" id="CompanyName" name="CompanyName" placeholder="Company Name">
			<label for="floatingInput">Company Name</label>
		</div>
		<div class="form-floating mt-3">
			<input type="text" class="form-control" id="tech" name="tech" placeholder="Company tech">
			<label for="floatingInput">Tech</label>
		</div>
		<div class="form-floating mt-3">
			<input type="text" class="form-control" id="place" name="place" placeholder="Company place">
			<label for="floatingInput">Place</label>
		</div>
		<div class="form-floating mt-3">
			<input type="text" class="form-control" id="salary" name="salary" placeholder="Job salary">
			<label for="floatingInput">Salary</label>
		</div>
		<div class="form-floating mt-3">
			<input type="date" class="form-control" id="applyBy" name="applyBy" placeholder="applyBy" >
			<label for="floatingInput">Apply By</label>
		</div>
		<div class="form-floating mt-3">
			<input type="text" class="form-control" id="skills" name="skills" placeholder="applyBy">
			<label for="floatingInput">Skills</label>
		</div>
		<div class="form-floating mt-3">
			<input type="text" class="form-control" id="openings" name="openings" placeholder="openings">
			<label for="floatingInput">Openings</label>
		</div>
	
		<button class="btn btn-warning mt-5">Add Job</button>
	</form>
	</div>