<div class="container col-xxl-12 px-4">
	<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
		<div class="col-10 col-sm-8 col-lg-6">
			<img src="./Analytics.png" class="d-block mx-lg-auto img-fluid floating" alt="Bootstrap Theme" width="700"
				height="500" loading="lazy">
		</div>
		<div class="col-lg-6">
			<h1 class="display-5 fw-bold text-white lh-1 underline-heading">
				<span class="underline">Seek<img src="./underline.png"></span>,
				<span class="underline">Explore<img src="./underline.png"></span>,
				<span class="underline">Thrive<img src="./underline.png"></span>
			</h1>
			<p class="lead" id="typewriter"></p>
			<div class="d-grid gap-2 d-md-flex justify-content-md-start mt-2">
				<button type="button" class="job-btn px-4 py-2 me-2" fdprocessedid="yyvpa">I'm a Job
					Seeker</button>
				<button type="button" class="recruiter-btn px-4 py-2" type="button" data-bs-toggle="modal"
					data-bs-target="#exampleModal">I'm a
					Recruiter</button>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content bg-black text-white">
					<div class="modal-header ">
						<h1 class="modal-title fs-5" id="exampleModalLabel">Register as recruiter</h1>
						<button type="button" class="modal-close-btn" data-bs-dismiss="modal"
							aria-label="Close">+</button>
					</div>
					<div class="modal-body">
						<form action="/register" method="post">
							<div class="mb-3">
								<label for="exampleInputName1" class="form-label">Name</label>
								<input type="text" class="form-control" name="name" id="exampleInputName1"
									aria-describedby="emailHelp">
							</div>
							<div class="mb-3">
								<label for="exampleInputEmail1" class="form-label">Email address</label>
								<input type="email" class="form-control" name="email" id="exampleInputEmail1"
									aria-describedby="emailHelp">
							</div>
							<div class="mb-3">
								<label for="exampleInputPassword1" class="form-label">Password</label>
								<input type="password" class="form-control" name="password" id="exampleInputPassword1">
							</div>
							<div class="mb-3 form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								<label class="form-check-label" for="exampleCheck1">Check me out</label>
							</div>
							<button type="submit" class="btn btn-primary">Register</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	const texts = [
		"Discover diverse job opportunities.",
		"Connect with top talent.",
		"Post vacancies across industries."
	];

	let currentTextIndex = 0;
	let currentCharIndex = 0;
	let isDeleting = false;

	function typeWriter() {
		const currentText = texts[currentTextIndex];
		if (!isDeleting && currentCharIndex < currentText.length) {
			document.getElementById("typewriter").innerHTML += currentText.charAt(currentCharIndex);
			currentCharIndex++;
		} else if (isDeleting && currentCharIndex >= 0) {
			document.getElementById("typewriter").innerHTML = currentText.substring(0, currentCharIndex);
			currentCharIndex--;
		} else {
			isDeleting = !isDeleting;
			if (!isDeleting) {
				currentTextIndex = (currentTextIndex + 1) % texts.length;
			}
		}
		setTimeout(typeWriter, 100); // Adjust the speed here (in milliseconds)
	}

	// Call the function
	typeWriter();
</script>