<div class="card" style="width: 18rem;">
	<div class="card-body">
	  <h5 class="card-title">Coding Ninjas</h5>
	  <h3>Tech: <span class="text-info">SDE</span></h3>
	  <p class="job-card-location"><i class="fa-solid fa-location-dot"></i> Gurugram</p>
	  <p class="card-text"></p>
	  <a href="#" class="btn btn-outline-success">View Details</a>
	</div>
  </div>